.App {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}





.user-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.user-container h1{
  font-weight: 100;
 
  font-size: 40px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.user-container button{
  color: white;
align-items: start;
font-size: 20px;
align-self: self-start;
background-color: rgb(3, 3, 125);
padding: 13px;
border: solid 1px;
border-radius: 5px;
}

.api-table {
  width: 100%;
 
border-collapse: collapse;
 
  margin-top: 20px;
}

.api-table th{
  border: 1px solid #ddd ;
  padding: 8px;
  text-align: center;
  color: gray;
  font-size: 20px;
}
.api-table td {
  padding: 12px;
  text-align: center;
  color: black;
  font-size: 20px;
  font-weight: bold;
 
}

.api-table th {
  background-color: white;
}

.api-table tbody tr:hover {
  background-color: #f5f5f5;
}

